.idea/
logs/
.classpath
.project
.settings
bin/
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/*.jar
target/test-classes
doc/
*.iml
.checkstyle
.DS_Store
.metadata
#test